body {
    background: #fff;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1.6;
    color: #32353c;
}


/* Header----------------- */

#header {
    height: 100px;
    background: #ee2624;
}


/* #header {
    height: 86px;
} */

#logo {
    margin-top: -9px;
}

form#search {
    position: relative;
    height: 34px;
    margin-top: 24px;
    padding-left: 71px;
    z-index: 1;
}

form#search input {
    width: 463px;
    height: 40px;
    border: none;
    outline: none;
    padding: 9px 42px 9px 15px;
    color: rgb(58, 47, 47);
    background: #fff;
    margin: 6px 0 0 10px;
    border-radius: 50rem;
    /* border: 1px solid #000; */
}

form#search button {
    position: absolute;
    top: 4px;
    left: 498px;
    /* color: #cdc7c7; */
    background: none;
    /* border: 1px solid red; */
    border: none;
    padding: 9px 12px;
    font-size: 18px;
    outline: none;
}

form#search ::placeholder {
    color: #776e6e;
}

#header ul.support {
    margin-left: 75px;
    margin-top: 24px;
}

#header ul.support img {
    width: 28px;
    height: 28px;
    margin-top: 6px;
}

#header ul.support .media-body {
    margin-left: 8px;
}

.title-hotline {
    font-size: 0.9rem;
    /* color: #281d1d; */
}

#header .support {
    float: left;
}

#header .media {
    margin-right: 15px;
}

#media_1 {
    visibility: hidden;
}

.media a {
    color: #fff;
}

.media a:hover {
    color: #ee2624;
}

.media .media-body a {
    font-size: 0.9rem;
}

.cartgroup {
    list-style: none;
    border: 2px solid #fff;
    border-radius: 6px;
    width: 133px;
    height: 44px;
}

.mini-cart a {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.mini-cart a:hover {
    background: #fff;
    color: #ee2624;
}

.mini-cart a span {
    font-size: 14px;
}

.count-item {
    display: block;
    background: #ffc107;
    border-radius: 4px;
    color: #3a445e;
    padding-left: 4px;
    padding-right: 4px;
}

#icon-cart {
    font-size: 18px;
}


/* MENU------------------- */

#main-menu .subheader {
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    /* height: 50px; */
    height: 60px;
}

#main-menu .navigation-horizontal {
    width: 100%;
    position: relative;
}

#main-menu .navigation-wrapper {
    overflow: hidden;
    max-height: 50px;
}

#main-menu .navigation {
    min-height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

#main-menu .navigation .menu-item {
    position: initial;
    background: repeat;
    padding-left: 0px;
}

#main-menu .navigation .list-group-item>a {
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background: #fff;
    color: #000;
    padding: 13px 15px;
    position: relative;
    margin-top: -12px;
}

#main-menu .navigation .list-group-item>a:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* #main-menu .navigation .list-group-item>a:hover {
    background: rgb(16, 99, 62);
} */

#main-menu .navigation .list-group-item>a i {
    transform: rotate( 90deg);
    margin-left: 6px;
}


/* Sub_Menu */

a.link {
    text-decoration: none;
    color: #3a445e;
    cursor: pointer;
}


/* WP-content---------------- */


/* Slider---------------- */

#slider .banner-left img {
    width: 773px;
    height: 255px;
    border-radius: 10px;
}

#slider .banner-right img {
    width: 376px;
    height: 255px;
    border-radius: 10px;
}


/* Category-------------------- */

#category {
    height: 150px;
    /* background: #fff3f3; */
    margin-top: 20px;
}

.bg_category {
    background: #fff;
    border-radius: 10px;
}

#category .category-items {
    padding: 0px 0px;
    width: 114px;
    height: 100px;
}

#category .category_name {
    font-size: 13px;
    color: #000;
    text-align: center;
}

#category .heading {
    padding-top: 20px;
}

#category .title-category {
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
    color: #000;
}

#category .category-list {
    padding-top: 12px;
}

#category .btn_brands {
    color: #ff6564;
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
}

#category .category-items {
    padding: 0px 15px;
}


/* Banner smartphone-------------  */

#banner-smartphone img {
    width: 414px;
    height: 290px;
}


/* Flash-Sale----------------- */

#product-slider {
    margin-top: 20px;
}

#product-slider .container.card {
    border: none;
    border-radius: 10px;
}

#product-slider .ega-badge-ctd {
    display: flex;
    align-items: center;
}

.ega-badge-ctd_item {
    margin-right: 4px;
    font-weight: 500;
}

.ega-badge-ctd_ct {
    color: #ff4a4a;
}

.ega-badge-ctd_h,
.ega-badge-ctd_m,
.ega-badge-ctd_s {
    background: #ff4a4a;
    color: #fff;
    border-radius: 20%;
    padding-left: 4px;
    padding-right: 4px;
}

.heading-bar {
    font-size: 16px;
    background: #fff;
    padding-bottom: 10px;
    padding-top: 5px;
    /* border-radius: 10px; */
    border-bottom: 1px solid #eee;
}

.flashsale {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.flashsale_title {
    display: flex;
    align-items: center;
}

#product-slider .progress {
    height: 8px;
    /* width: 204px; */
}

.wp-product-slider {
    background: #fff;
    border-radius: 10px;
}

.heading-bar_title {
    color: #3a445e;
    font-size: 1.5em;
    margin: 0px;
    line-height: 1.2;
}

a.link {
    text-decoration: none;
    color: #ee2624;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto';
}

.heading-bar_title .link:hover {
    color: #e85933;
}

.flashsale_countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
}

.flashsale_countdown-label {
    color: #3a445e;
    font-size: 14px;
    font-weight: 300;
}


/* .product-flase-sale {
    margin-top: -220px;
} */

.btn-main {
    border-color: #ee2624;
    color: #ee2624;
}

.btn-main:hover {
    background: #ee2624;
    color: #fff;
}

.show_frame {
    max-width: 223px;
    min-height: 223px;
}

.show_frame {
    max-width: 223px;
    min-height: 223px;
}

.show_frame {
    max-width: 255px;
    min-height: 255px;
}

.item_product_main {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background: #fff;
    cursor: pointer;
}

.item_product_main .product-thumbnail {
    position: relative;
    overflow: hidden;
}

.item_product_main .image_thumb {
    display: block;
}

.show_frame {
    z-index: 3;
}

.show_img {
    width: 163px;
    height: 163px;
    z-index: 2;
}

.item_product_main a {
    text-decoration: none;
    color: #3a445e;
}

.pos-relative.embed-responsive.embed-responsive-1by1 img {
    --image-scale: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--image-scale));
    object-fit: contain;
    max-width: 204px;
    max-height: 204px;
}

.lazyload.loaded {
    background: transparent;
}


/* button  */

.btn-main {
    border-color: #ee2624;
    color: #ee2624;
}

.btn-main:hover {
    background: #ee2624;
    color: #fff;
}

#banner .banner_items a img {
    width: 361px;
    height: 115px;
}

.tabs li {
    position: relative;
    border-radius: 99px;
    white-space: nowrap;
    color: #3a445e;
    background: #eee;
    border: 1px solid transparent;
    font-size: 14px;
    user-select: none;
}

.tabs li.current:first-child {
    color: #fff;
    background: #ee2624;
    border-color: #ee2624;
}

.tabs li.current:hover {
    color: #ee2624;
    background: #fff;
    border-color: #ee2624;
}

.tabs li:not(:last-of-type) {
    margin-right: .5rem;
}

.product-info .ship {
    width: 139px;
    height: 20px;
}

.wp-product-sidebar span.price_sidebar {
    font-weight: bold;
    color: #ee2624;
}


/* hover product  */

.item_product_main {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
}

.item_product_main .group_action {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}

.item_product_main .btn-views {
    /* color: #008848; */
    color: #e85933;
    background: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all .22s ease-out;
    transform: scale(0.9);
}

.item_product_main:hover .product-action .group_action {
    position: absolute;
    /* border-radius: 0.8rem 0.8rem 0 0; */
    opacity: 1;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    visibility: visible;
}

.item_product_main:hover .product-action .group_action_1 {
    position: absolute;
    /* border-radius: 0.8rem 0.8rem 0 0; */
    opacity: 1;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    visibility: visible;
}

.item_product_main .product-info {
    text-align: center;
    margin-top: 6px;
}

.item_product_main .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden;
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1.4;
}

.item_product_main a {
    text-decoration: none;
    color: #3a445e;
    font-size: 15px;
}

.item_product_main a:hover {
    color: #e85933;
}

.item_product_main .group_action_1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    align-items: center;
    width: 204px;
    height: 204px;
    margin-left: 26px;
    margin-bottom: 26px;
}

.item_product_main .price-contact,
.item_product_main .price {
    font-weight: bold;
    color: #f3283d;
}

.product-info .price-box span {
    color: #f3283d;
    font-weight: 600;
}

.phone-featured_img img {
    max-width: 373px;
    margin-left: 9px;
}

.item_product_main .label_product {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #e2544a;
    padding: 0px 5px;
    border-radius: 0px;
    font-weight: bold;
    font-size: 12px;
    z-index: 3;
}

.item_product_main .label_product .label_wrapper {
    width: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* Category Hot-------------------- */

#category_hot {
    /* height: 150px; */
    /* background: #fff3f3; */
    margin-top: 20px;
}

.bg_category {
    background: #fff;
    border-radius: 10px;
}

#category_hot .category-items {
    padding: 0px 0px;
    width: 114px;
    height: 100px;
}

#category_hot .category_name {
    font-size: 13px;
    color: #000;
    text-align: center;
}

#category_hot .heading {
    padding-top: 20px;
}

#category_hot .title-category {
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin: 0px;
    color: #000;
}

#category_hot .category-list {
    padding-top: 12px;
}

#category_hot .btn_brands {
    color: #ff6564;
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
}

#category_hot .category-items {
    padding: 0px 15px;
}


/* #category_hot .border_top {
    border-top: 1px solid #ee2624;
} */

#smartphone-tablet {
    margin-top: 20px;
}

#brand {
    margin-top: 20px;
    margin-left: -16px;
}

#brand img {
    border-radius: 10px;
}

#banner-smartphone {
    margin-left: -28px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* News------------------------- */

#share h3 {
    font-family: 'Roboto';
    color: #ee2624;
    font-weight: 700;
    font-size: 25px;
}

#share h5.card-title {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto';
    color: #ee2624;
}

#share .card-deck .card .card-body h5 {
    cursor: pointer;
}

#share .card-deck {
    margin-top: 50px;
    margin-bottom: 50px;
}

#share .card-deck a img {
    transition: all 0.25s;
}

#share .card-deck a img:hover {
    transform: scale(1.05);
}

#share .card-deck a {
    overflow: hidden;
}

#share {
    margin-top: 68px;
}


/* Footer----------------  */

#footer {
    background: #fff;
}

.mid-footer {
    padding-top: 40px;
    background: #ec4745;
    /* background: #fdbaad; */
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}

.mid-footer .title-menu {
    margin: 0px 0px 17px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-contact {
    display: flex;
    align-items: baseline;
    font-size: 15px;
    margin-bottom: 10px;
}

a.link_f {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

a.link_f:hover {
    color: #3bd4ae;
    filter: brightness(0.9);
    text-decoration: none;
}

#footer .list-menu {
    float: left;
    margin: 0;
    padding: 0;
}

#footer .list-menu li {
    list-style: none;
    margin-bottom: 12px;
}

#footer .copyright {
    font-size: 14px;
}

#footer .mid-footer .follow_option .link_f {
    font-size: 25px;
    margin-right: 16px;
}


/* PRODUCT-DETAIL */


/* BREADCRUMB--------------- */

#breadcrumb {
    background: #e9ecef;
    /* width: 1903px; */
    height: 48px;
    /* margin-bottom: 20px; */
    margin-top: 0px;
    margin-left: -270px;
    padding-left: 235px;
}

#breadcrumb .breadcrumb-item a {
    color: #999;
    font-weight: 300;
    font-size: 14px;
}

#breadcrumb .breadcrumb-item .active {
    color: #3a445e;
}


/* wp-content  ------------------- */

#wp-content {
    background: #f8f8f8;
}

#detail_product img.img_item_1 {
    width: 553px;
    height: 553px;
    z-index: 2;
}

#detail_product .product_img {
    border: 1px solid #ee2624;
}

#detail_product img.img_item_2 {
    width: 355px;
    height: 355px;
    position: absolute;
    top: -169px;
    right: 46px;
    z-index: -1;
}

#detail_product .product_img_item {
    position: relative;
    z-index: 1;
}

#detail_product {
    margin-bottom: 20px;
    padding-top: 16px;
}

#detail_product .img_item_slider a img {
    width: 75px;
    height: 75px;
    /* border: 1px solid red; */
}

#detail_product .img_item_slider {
    display: flex;
    margin-left: 167px;
    align-items: center;
}

#detail_product .img_item_slider1 {
    padding-top: 2px;
    padding-left: 14px;
    height: 80px;
    width: 104px;
    margin-right: 30px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eee;
}

#detail_product .img_item_slider .active {
    border: 1px solid #ee2624;
}

#detail_product .detail_product_right .title_product h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

#detail_product .detail_product_right .group-status {
    font-size: 14px;
}

#detail_product .price-box {
    position: relative;
    margin: 15px 0 10px;
    padding: 10px 16px;
    background: #fafafa;
    border-radius: 4px;
}

#detail_product span.price.product-price.text-danger.font-weight-bold {
    font-size: 30px;
}

#detail_product .product-summary {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding: 5px 0 12px 0;
}

#detail_product .gift-list {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px dashed #ff5722;
    background: #ffede88f;
    padding: 15px;
    width: 100%;
}

#detail_product .gift-list label {
    line-height: 1;
    color: #ff5722;
    font-weight: 500;
    margin-bottom: 0;
    justify-content: flex-start;
}

#detail_product .free-gifts {
    margin-bottom: 0;
    padding-left: 20px;
}

#detail_product .swatch .header {
    flex: 0 0 100px;
    margin-right: 10px;
    font-weight: 500;
}

#detail_product .gift-list label .icons {
    font-size: 23px;
}

#detail_product .header_f {
    border-bottom: 1px solid #eee;
    display: flex;
}

#detail_product .header_f .title_color {
    font-size: 17px;
    color: #000;
    font-weight: 400;
    margin-right: 40px;
    margin-top: 3px;
}

#detail_product .header_f .wp-btn-color {
    border: 1px solid #008848;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 10px;
}

#detail_product .header_f .button_black {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 30px;
    margin-right: 30px;
    border: 1px solid #fff;
}

#detail_product .header_f .button_silver {
    background: silver;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 30px;
    border: 1px solid #fff;
}

#detail_product .form_button_details .custom.input_number_product.custom-btn-number {
    display: flex;
}


/* qty_Count  */

#detail_product .form_button_details .custom.input_number_product .upqty {
    width: 34px;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 0px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    -webkit-appearance: none;
    border: 1px solid #dadada;
    float: left;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

#detail_product .form_button_details .custom.input_number_product input#qty {
    width: 65px;
    text-align: center;
    /* border-radius: 4px; */
    border: 1px solid #dadada;
    outline: none;
}

#detail_product .form_button_details .custom.input_number_product .downqty {
    width: 34px;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #dadada;
    float: left;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}

#detail_product .button_actions .btn_base {
    height: 44px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    padding: 0px 35px;
    border-radius: 5px;
    border: solid 1px transparent;
    background: #ff5722;
    min-width: 300px;
}

#detail_product .free-gifts .btn {
    color: #ff5722;
    text-decoration: underline;
}

#detail_product .product-policises-wrapper {
    border: 1px solid #eee;
    border-radius: 6px;
    margin-top: 15px;
    padding: 5px;
}

#detail_product .product-policises .media {
    align-items: center;
}

#detail_product .product-policises .media>div:not(.media-body) {
    width: 32px;
    height: 32px;
}


/* Description Product----------- */

#description_product {
    margin-bottom: 20px;
}

#description_product .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #c1582a #c1582a #fff;
}

#description_product .title h2 {
    font-weight: 500;
    font-size: 26px;
}

#description_product .product-sidebar .product-sidebar-title {
    background: #ff6564;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
}

#description_product .product-sidebar {
    margin-bottom: 10px;
}

#description_product .product-sidebar .product-sidebar-title h3 {
    font-size: 16px;
    color: #fff;
    padding-top: 7px;
    padding-left: 8px;
}

#description_product .wp-product-sidebar span.price_sidebar {
    font-weight: bold;
    color: #ff9897;
}

#description_product .media {
    margin-bottom: 15px;
}

#description_product .media-img {
    position: relative;
    z-index: 1;
}

#description_product .media:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 5px #b7acac;
}

#description_product .media-img .media-img-item-f {
    width: 86px;
    height: 86px;
    z-index: 2;
}

#description_product .media-img .media-img-item {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 9px;
    top: 8px;
    z-index: -1;
}

#description_product .media-body a:hover {
    color: #008848;
}


/* PRODUCT-RELATED-------------- */

#product-related #products-new {
    font-family: 'Open Sans', sans-serif;
}

#product-related ul.list-new-products li {
    margin-bottom: 30px;
}

#product-related ul.list-new-products li:hover a.product-name {
    text-decoration: none;
}

#product-related .title {
    margin-bottom: 45px;
}

#product-related h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    color: #000;
    font-size: 23px;
    top: 46px;
    left: -28px;
}

#product-related h1+span {
    font-weight: 400;
    font-size: 14px;
    color: #837d7d;
}

#product-related a.pic-product {
    display: block;
    overflow: hidden;
}

#product-related .info-product {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#product-related #rating label {
    margin-bottom: 0;
}

#product-related span.num-comment {
    font-size: 14px;
    color: #6c757d;
    margin-top: 6px;
    display: inline-block;
}

#product-related a.product-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    line-height: 21px;
    margin: 20px 0 5px 0;
    font-weight: 400;
    height: auto;
    word-break: break-word;
    max-height: 40px;
    overflow: hidden;
    color: #4f4545;
}

#product-related .price {
    color: #ff9897;
    font-size: 16px;
    display: block;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    word-break: break-word;
}

#product-related .price-old {
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    color: #888888;
    padding-top: 19px;
    padding-left: 15px;
}

#product-related .product-item {
    border: 1px solid #f4f4f4;
    padding: 1px;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

#product-related .product-item:hover {
    border: 2px solid #ff9897;
    padding: 0px;
}


/* SUB-MENU--------------------------- */

#rps-menu {
    position: relative;
    z-index: 1;
}

#rps-menu input {
    display: none;
}

#rps-menu label {
    cursor: pointer;
    display: inline-block;
    padding: 4px 8px;
    margin-left: 340px;
    transition: background-color 0.1s, color 0.1s;
}

#rps-menu .test {
    transition: height .3s ease;
    height: 0;
    overflow: hidden;
    width: 398px;
    background: #fff;
    margin-top: 17px;
    margin-right: 160px;
}

#rps-menu input:checked+.test {
    height: 377px;
}

#rps-menu ul#respon-menu {
    margin-top: 50px;
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

#rps-menu ul#respon-menu li {
    margin-bottom: 2px;
    border-top: 1px solid #716f6f;
}

#rps-menu ul#respon-menu li a {
    padding: 5px 5px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

#rps-menu .account-submenu {
    margin-left: 14px;
    font-size: 14px;
}

#rps-menu .account-submenu .login {
    color: #ff5722;
}

#rps-menu .account-submenu .register {
    color: #ff5722;
}


/* --------------------- menu hover */

#header-end .logo-menu {
    /* margin-top: -54px; */
    position: absolute;
    top: -56px;
    z-index: 1;
}

#header-end i.fas.fa-bars {
    font-size: 34px;
}

#header-end .top-category .category-hid {
    min-width: 250px;
    /* background-color: #f2f2f2; */
    background: silver;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 2;
    top: -26px;
    left: 0;
}

#header-end .top-category:hover .category-hid {
    display: block;
}

#header-end .top-category {
    position: relative;
}

#header-end .top-category .category-hid .list-cate {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header-end .top-category .category-hid .item-cate {
    padding: 5px 20px 9px 20px;
    position: relative;
    right: 0;
    /* transition: right linear 0.1s; */
    margin-bottom: 1px;
    background: #fff;
}

#header-end .top-category .category-hid .item-cate:hover,
#header-end .top-category .category-hid .item-cate:hover a {
    /* background-color: var(--primary-color-lg); */
    background: silver;
    color: #e85933;
    /* right: -4px; */
}

#header-end .top-category .category-hid .cate-link {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#header-end .top-category .category-hid p {
    padding-top: 6px;
    margin: 0;
    font-size: 14px;
    font-weight: initial;
}

#header-end .top-category .img-cate img {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    margin-top: 7px;
}


/* ////////////////////////////////////////////////////// */

#header-link .header-link-item {
    display: flex;
}

#header-link .header-link-item p {
    margin-bottom: 0;
    padding: 5px 0;
    font-size: 13px;
    margin-left: 4px;
}

#header-link .header-link-item p:hover {
    cursor: pointer;
}